.box{
    width:200px;
    height:75px;
    margin:200px auto 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color:#111111;
    }
.shadow_1{
    background: -moz-radial-gradient(center center , ellipse closest-side, rgba(0, 0, 0, 0.2) 0%, transparent 100%) repeat scroll 0 0 transparent;
    height: 40px;
    margin: -20px auto 0;
    width: 344px; 
    }
.shadow_2{
    background: -moz-radial-gradient(center center , ellipse closest-side, rgba(0, 0, 0, 0.3) 0%, transparent 100%) repeat scroll 0 0 transparent;
    height: 30px;
    margin: -38px auto 0;
    width: 250px;
    }
.shadow_3{
    background: -moz-radial-gradient(center center , ellipse closest-side, rgba(0, 0, 0, 0.3) 0%, transparent 100%) repeat scroll 0 0 transparent;
    height: 13px;
    margin: -20px auto 0;
    width: 271px;
    }  